
@font-face {
  font-family: 'VazirMatn';
  src: local('VazirMatn'), url(./fonts/Vazirmatn-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'VazirMatn',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slider-box{
  margin: 10px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  color: gray !important;
}